<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Hello!</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css" />

    <!-- import the webpage's javascript file -->

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.20.0/dist/axios.min.js"></script>
    <script src="https://cdn.stringee.com/sdk/web/2.2.1/stringee-web-sdk.min.js"></script>
  </head>
  <body>
    <div v-cloak id="app">
      <h1>
        Ứng dụng Clone Zoom cực cool ngầu :3. Welcome {{userId}}
      </h1>

      <div>
        <button @click="createRoom">
          Tạo Meeting
        </button>

        <button v-on:click="joinWithId">
          Join Meeting
        </button>

        <button @click="publish(true)">
          Share screen
        </button>
      </div>

      <div v-if="!joinRoom && roomId">
        Ahihi, hãy gửi link này cho bạn bè join room nhé
        <a v-bind:href="roomUrl" target="_blank">{{roomUrl}}</a>. <br />
        Hoặc bạn cũng có thể copy <code>{{roomId}}</code> để share.
      </div>

      <div v-if="joinRoom && roomId">
        Bạn đã gia nhập room {{roomId}}
      </div>
    </div>

    <div id="videos">
     
    </div>
  </body>
  <script src="/api.js"></script>
  <script src="/script.js"></script>
</html>
